<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>Disk Arbitrator</string>
	<key>Disabled</key>
	<false/>
	<key>KeepAlive</key>
	<true/>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/aburgh/Library/Caches/Xcode/Debug/DiskArbitrator.app/Contents/MacOS/DiskArbitrator</string>
	</array>
</dict>
</plist>
